{% extends "layout.html" %}
{% block content %}

<div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
            <th>IP</th>
            <th>attempts</th>
            <th>bloked</th>
            <th>Created date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ban in bans %}
        <tr>
            <td>{{ ban[0] }}</td>
            <td><span class="badge">{{ ban[1] }}</span></td>
            <td>
                {% if ban[2] == 1 %}
                <button type="button" class="btn btn-default btn-sm" onclick="block('{{ ban[0] }}', false)">
                    Yes
                </button>
                {% else %}
                <button type="button" class="btn btn-default btn-sm" onclick="block('{{ ban[0] }}', true)">
                    No
                </button>
                {% endif %}
            </td>
            <td>{{ ban[3] }}</td>
            <td>
                <button type="button" class="btn btn-default btn-sm" onclick="erase('{{ ban[0] }}')">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script type="text/javascript">
$("#nav-bans").addClass('active');
function erase(ip) {
    console.log("Delete ip: " + ip);
    $.ajax({ url: '/bans/' + ip, type: 'DELETE',
        success: function(result) {
            location.reload();
        }
    });
}

function block(ip, block) {
    console.log("Block ip: " + ip);
    $.ajax({ url: '/bans/' + ip, type: 'PUT', data: {block:block},
        success: function(result) {
            location.reload();
        }
    });
}

</script>
{% endblock %}
